<div class="container">
    <div class="row space-top">
        <div class="col-md-12">
            <h1>Furniture Details</h1>
        </div>
    </div>
    <div class="row space-top">
        <div class="col-md-4">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <blockquote class="card-blockquote">
                        <img src="{{item.imageUrl}}" />
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <p>Make: {{item.make}}</p>
            <p>Model: {{item.model}}</p>
            <p>Year: {{item.year}}</p>
            <p>Description: {{item.description}}</p>
            <p>Price: {{item.price}}</p>
            <p>Material: {{item.material}}</p>
        </div>
    </div>
</div>